body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100%;
  margin-left: 0; /* Largura do sidebar */
}

.dashboard {
  margin-left: 50px; /* Espaço para a largura do sidebar */
  padding: 16px; /* Espaço interno opcional */
  overflow-y: auto; /* Permitir rolagem se necessário */
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
}

.d-flex.flex-column.vh-100 {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex-grow: 1;
  overflow-y: auto;
}
